<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/Kevin-Dobariyaa" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://linkedin.com/in/kevin-dobariyaa" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
           
        </div>
        <div class="web-name">Travel Root</div>
        <div class="f-info-links">
            Made By <span class="dev">Kevin </span>
        </div>
    </div>
</footer>
