<% layout("/layouts/boilerplate") %>

<div class="row mt-4">
    <div class="alert alert-danger fs-5" role="alert">
        <div class="error-message">
            
            <i class="fa-solid fa-triangle-exclamation"></i>
            &nbsp;&nbsp;<%= message %> 
        </div>
    </div>
</div>