<% layout("/layouts/boilerplate") %>

<div class="row mt-5">
    <div class="col-md-6 offset-md-3">
        <div class="p-4 shadow-lg rounded">
            <form method="post" action="/signup" class="needs-validation" novalidate>
                <h3 class="text-center mb-4 card-title">Sign Up</h3>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" placeholder="Enter username" class="form-control" id="username" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please provide a valid username.</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" placeholder="Enter email" class="form-control" id="email" required>
                    <div class="invalid-feedback">Please provide a valid email.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" placeholder="Enter password" class="form-control" id="password" required>
                    <div class="invalid-feedback">Password must not be empty.</div>
                </div>
                <button type="submit" class="btn btn-primary w-100">Sign Up</button>
            </form>
        </div>
    </div>
</div>
